<h1>Cards</h1>
<%= for card <- @cards do %>
  <%=
    Cloudex.Url.for(card.image, %{crop: "fill", width: 200, height: 300})
    |> img_tag()
    |> link(to: Routes.card_path(@conn, :show, card))
  %>
<% end %>
